<%= form_for(@agenda) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <% if user_signed_in? %>
    <div class="field">
      <%= f.label :owner %><br />
      <%= f.text_field :owner, :value => current_user.email %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :owner %><br />
      <%= f.text_field :owner %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>