<h2>List of Topics</h2>

<p>
  <%= link_to "Export to Excel", agendas_path(:format => "xls") if @agendas.present? %>
</p>

<table class="agenda_list"> 
  <% count = 0 %>
  <% @agendas.each do |agenda| %>
  <% if count % 2 == 0 %>
    <tr bgcolor='#eee' id="<%= agenda.id%>">
  <% else %>
    <tr id="<%= agenda.id%>">
  <% end %>
  	<td width='50'></td>
    <td width='350'><%= agenda.title %></td>
    <td width='5'>by</td>
    <td width='75'><b><i><%= agenda.owner %></i></b></td>
    <td> | <%= link_to image_tag( 'lightbulb_add.png', :border=>0, :title=>'Add Idea', :size=>'18x18'), agenda %> <b>(<%= agenda.ideas.count%> ideas)</b></td>
    <% if user_signed_in? && current_user.role == "admin" %>
      <td> | <%= link_to image_tag( 'edit.png', :border=>0, :title=>'Edit'), edit_agenda_path(agenda) %></td>
      <td> | <%= link_to image_tag( 'iconDelete.gif', :border=>0, :title=>'Delete'), agenda, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
    <% end %>
  </tr>
  <% count = count + 1 %>
  <% end %>
</table>
<%= paginate @agendas %>