<div id="agenda_title">
	<h1><i><center><%= @agenda.title %></center></i></h1>
</div>

<p>
  <b>Ideas so far : </b>
  <b><%= @agenda.ideas_count %></b>
  <%= link_to "(Export to Excel)", agenda_path(format: "xls", method: "show") if @agenda.ideas_count > 0 %>
</p>

<%= render @agenda.ideas %>

<br><br>
<%= image_tag( 'lightbulb_add.png', :border=>0, :title=>'Add Idea')%>
<b>Have an idea? Please go ahead :)</b>
<%= render "ideas/form" %>

<%= link_to 'Back', agendas_path %>