<!DOCTYPE html>
<html>
<head>
  <title>IdeaBoardApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <h1>IdeaBoard!!!</h1>  
</div>

<div id="login_user">  
  <% if user_signed_in? %>
    Welcome <%= current_user.email %>!    
  <% end %>
</div>

<table>
  <tr>
    <td>
      <b><div class="create-button round"><%= link_to "Home", agendas_path %></div></b>
    </td>
    <td>
      <b><div class="create-button round"><%= link_to "Sign up", new_user_registration_path %></br>New User!</div></b>
    </td>
    <td>
      <% if user_signed_in? %>
        <b><div class="create-button round"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div></b>
      <% else %>
        <b><div class="create-button round"><%= link_to "Sign in", new_user_session_path %></div></b>
      <% end %>
    </td>
  </tr>
</table>

<table align='center'>
<!--
  <tr>
    <td>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </td>
  </tr>
-->
  <tr>
    <td>
      <%= yield %>
    </td>
  </tr>
</table>

</body>
</html>