<!DOCTYPE html>
<html>
<head>
  <title>IdeaBoardApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">

  <div id="header">
    <div id="home_icon">
      <%= link_to image_tag( 'home.png', :border=>0, :title=>'Home', :size=>'60x60', :align=>'left'), agendas_path %>
    </div>
    <div id="home_title">
      <b>Idea Board</b>
    </div>
  </div>

  <div id="login_user">
    <% if user_signed_in? %>
      Welcome <%= current_user.email %>!
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
      <% if user_signed_in? && current_user.role == "admin" %>    
          || <%= link_to "Admin Roles", users_path %>
      <% end %>
      || <%= link_to "My Topics", my_topics_path %>
    <% else %>     
      Registered Users <%= link_to "Sign in", new_user_session_path %> 
      || New Users <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
    || <%= link_to "Popular Topics", popular_topics_path %>
    || <%= link_to 'Create Topic', new_agenda_path %>
  </div> 

  <div id="body">
    <% if flash[:error] %>
      <p id='error'><%=h flash[:error] %></p>
    <% end -%>
    <% if flash[:notice] -%>
      <p id='notice'><%=h flash[:notice] %></p>
    <% end %>
    <%= yield %>
  </div>

  <div id="footer">
    <h5>Developed by Himanshu Gupta</h5>  
  </div>
</div>
</body>
</html>